.title {
  font-family: sans-serif;
  font-size: 24px;
  margin: 0 0 10px;
}

.wrapper {
  /* width: 270px; */
  display: block;
  padding-top: 30px;
}
.wrapper:last-child {
  padding-top: 0;
}

.wrapper:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 670px) {
  .wrapper {
    padding-top: 30px;
  }
  .wrapper:last-child {
    padding-top: 30px;
  }
  .wrapper:not(:last-child) {
    margin-right: 30px;
  }
}
