.form {
  width: 270px;
  padding: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  border: 1px solid black;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 16px;
}

.input {
  width: 240px;
  height: 35px;
  padding: 4px 10px;
  margin-top: 5px;
  background-color: #ffffff;
  border: 1px solid #cacaca;
  font-size: 14px;
  letter-spacing: 0.01rem;
  border-radius: 5px;
  outline: none;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.9;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  opacity: 1;
}
